/**NAV bar**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,500;1,100&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
    margin: 0.5rem;
}
a:hover{
    color: #ffffff;
}
p{
    font-size: 18px;
    
   
}



.nav-item{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    transition:transform 0.7s ease-in-out;
 
    
}

.nav-item:hover{
    transform:scale(1.02);
    border-top:3px solid #ffffff;
    transition:transform 0.7s ease-in-out;
    

}

.header-logo{
    font-size: 100px;
}
.header-span{
    color:#1e5566;
}
.card{
    width: auto;
    transition:transform 0.5s ease-in-out;
 
}
.card:hover{
    
    transform:scale(1.02);
}


.overlay{
    color: white;
    opacity: 0;
    transition: .8s ease;
}


.card:hover .overlay {
    opacity: 1;
    text-align: justify;
   
    border-width: 5rem;
  }

#custom-icon{
    color: #1e5566;
}

.hover-button{
    transition: all 0.8s;
    cursor: pointer;
    color: #1e5566;
    
  
}

.hover-button:hover{
    color: #ffffff;
}

.hover-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
  }
  
  .hover-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
  }
  
  .hover-button:hover span {
    padding-right: 25px;
  }
  
  .hover-button:hover span:after {
    opacity: 1;
    right: 0;
    
  }


.input-form{
    box-sizing: border-box;
    border-color: #1e5566;
    border-width: 10rem;
}