/**NAV bar**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,500;1,100&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
    margin: 0.5rem;
}
a:hover{
    color: #ffffff;
}
.button{
    transition: all 0.8s;
    cursor: pointer;
}
.button:hover{
    background-color: #ffffff;
    color: black;
}
.icon-span{
    font-size: 100px;
    color: #27687c;
}

.larger{
    font-size: 80px;
}
.nav-item{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid transparent;
    transition: 0.5s ease-in-out;
    
   
  
    
}
.nav-item:hover{
   
    border-top:5px solid #ffffff;
    padding-top: 2px;
}
.header-container{
    background-image: linear-gradient(rgba(30,85,102),rgb(28, 82, 100), rgb(16, 40, 47))
}
.header-logo{
    font-size: 100px;
}
.header-span{
    color:#1e5566;
}
.card{
    width: auto;
    box-shadow: border-box;
    transition: 0.5s ease-in-out;
 
}
.card:hover{
    
    transform:scale(1.02);
    box-shadow:0 5px 8px 0 rgb(21, 68, 82);
}


.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1e5566;
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition: .6s ease;
  color: #ffffff;
  visibility: hidden;
  border-radius: 5px;
}



.card:hover .overlay {
    height: 100%;
    visibility: visible;
  }

.overlay .card-container{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#custom-icon{
    color: #1e5566;
}

.hover-button{
    transition: all 0.8s;
    cursor: pointer;
    color: #1e5566;
    
  
}

.hover-button:hover{
    color: #ffffff;
}

.hover-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
  }
  
  .hover-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
  }
  
  .hover-button:hover span {
    padding-right: 25px;
  }
  
  .hover-button:hover span:after {
    opacity: 1;
    right: 0;
    
  }


.input-form{
    box-sizing: border-box;
    border-color: #1e5566;
    border-width: 10rem;
}

@media (max-width: 550px) {
   
    .overlay h5{
        font-size: 10px;
    }
    .overlay .card-button{
        font-size: 9px;
    }

  }
  