/**NAV bar**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,500;1,100&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgb(84, 18, 143),rgb(85, 21, 140), rgb(100, 32, 159));
}
a,p,h1,h2,h3,h4,h5{
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
    margin: 0.5rem;
}
a:hover{
    color: #ffffff;
}
.button{
    transition: all 0.8s;
    cursor: pointer;
}
.button:hover{
    background-color: #ffffff;
    color: black;
}
.icon-span{
    font-size: 100px;
    color: #27687c;
}

.larger{
    font-size: 80px;
}
.nav-item{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid transparent;
    transition: 0.5s ease-in-out;
    
   
  
    
}
.nav-item:hover{
   
    border-top:5px solid #ffffff;
    padding-top: 2px;
}
.header-container{
   background-color: #470d7b;}
.header-logo{
    font-size: 100px;
}
.header-span{
    color:#470d7b;
}


.card{
    background-color: #470d7b;
    width: auto;
    box-shadow: border-box;
    box-shadow: 1px solid rgba(71,13,123);;
    transition: 0.5s ease-in-out;
 
}
.card:hover{
    
    transform:scale(1.02);
    box-shadow:0 5px 8px 0 rgba(71,13,123);
}



#custom-icon{
    color: rgba(71,13,123);
}

.hover-button{
    transition: all 0.8s;
    cursor: pointer;
    color: rgba(71,13,123);
    
  
}

.hover-button:hover{
    color: #ffffff;
}

.hover-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
  }
  
  .hover-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: white;
  }
  
  .hover-button:hover span {
    padding-right: 25px;
  }
  
  .hover-button:hover span:after {
    opacity: 1;
    right: 0;
    
  }

.custom-contact{
    background-color: #470d7b;
    border-color: #470d7b;
    color: #ffffff;
}
.input-form{
    box-sizing: border-box;
    border-color: rgba(71,13,123);
    border-width: 10rem;
}

@media (max-width: 550px) {
   
    .overlay h5{
        font-size: 10px;
    }
    .overlay .card-button{
        font-size: 9px;
    }

  }
  